GEMINI_API_KEY="chave-gemini-api"

PNCPLINK="https://pncp.gov.br/app/editais?pagina=1&q=&status=recebendo_proposta"

SECRET_KEY="chave-secreta-aleatória"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = "11520"
ENVIRONMENT="development"

FIRST_SUPERUSER = "email-do-super-usuario"
FIRST_SUPERUSER_PASSWORD = "senha-do-super-usuario"

# Configurações do PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=usuario
DB_PASSWORD=senha_da_db
DB_NAME=nome_da_db
